html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: 180px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
}

#btn-connect {
  background-color: #007bff;
}

#btn-disconnect {
  background-color: #700101;
  cursor: not-allowed;
}

#spinner {
  display: none;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-top: 3px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}